/*import './themes/default.css';*/

* {
    box-sizing: border-box;
}

a, span, div, body, button, input, img, form, h1, h2, h3, h4, h5, h6, code {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.96);
}

button {
    appearance: none;
    background-color: transparent;
}

/* flex */

.flex-center {
    display: flex;
    align-items: center;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
}

main {
    font-family: 'Jost', sans-serif;
}

/* nav */

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--stib-blue-2);
    overflow-x: hidden;
}

.nav .nav-container, .nav .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 4.35rem;
    line-height: 0;
}

.nav .logo {
    line-height: 0;
}

.nav .logo img {
    max-height: 40px;
}

.nav-height {
    height: 4.5rem;
}

.user-button {
    width: 40px;
    height: 40px;
}

.top-bar .user-button {
    margin-left: 0.75rem;
}

.pfp {
    line-height: 0;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
}

.pfp-inner {
    width: 100%;
    height: 100%;
    background-clip: padding-box;
    background-color: none;
    background-position: 50%;
    background-size: 100%;
    border-radius: 50%;
}

.nav-dd-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.nav-dd-container .dropdown {
    margin-top: 4px;
}

/* dropdown */

.dropdown {
    float: right;
    box-sizing: border-box;
    background-color: var(--dropdown);
    color: var(--dropdown-text);
    border: 3px solid var(--dropdown);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    min-width: 10rem;
    z-index: 10;
    pointer-events: visible;
}

.dropdown .header {
    padding: 0.75rem 1.25rem calc(0.75rem + 1px) 1.25rem;
}

.dropdown .header #pfpUsername {
    font-weight: 500;
}

.dropdown .items {
    padding-top: 3px;
}

.dropdown .item {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    padding: 0.65rem 1.25rem;
    border-radius: 5px;
    color: inherit;
    transition: background 0.125s, color 0.125s;
}

.dropdown .item:hover, .app:hover {
    background-color: var(--item-hover);
}

.dropdown .item:focus, .app:focus {
    background-color: var(--item-focus);
}

.dropdown .item.logout {
    color: rgb(196, 42, 42);
}

.divider {
    background-color: var(--divider);
    height: 1px;
}

.page {
    background-color: var(--stib-blue);
    min-height: calc(100vh - 0.25rem);
    padding-top: 0.25rem;
}

/* container */

.container {
    margin: 0 auto;
    width: calc(100% - 24px);
}

@media only screen and (min-width: 601px) {
    .container {
        width: 96%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

.title {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}

/* buttons */

.button {
    padding: 0.55rem 1.35rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: all .17s ease-out;
    background-color: var(--item);
    color: var(--stib-blue-2);
}

.button:hover {
    background-color: var(--item-hover);
}

.button:focus {
    background-color: var(--item-focus);
}

.button.primary {
    background-color: var(--item-primary);
    color: var(--stib-blue-text);
}

.button.primary:hover {
    background-color: var(--item-primary-hover);
}

.button.primary:focus {
    background-color: var(--item-primary-hover);
}

.button.red {
    color: #fff;
    background-color: #e73939;
}

.button.red:hover {
    background-color: #ff5d5d;
}

.button.red:focus {
    background-color: #be2828;
}

.button.outline {
    background-color: transparent;
    color: var(--item);
    padding: calc(0.55rem - 1px) calc(1.35rem - 1px);
    border: 1px solid var(--item);
}

.button.outline:hover {
    border-color: var(--item-hover);
}

.button.outline:focus {
    border-color: var(--item-focus);
}

.button.outline.red {
    color: #e73939;
    border-color: #e73939;
}

.button.outline.red:hover {
    border-color: #ff5d5d;
    background-color: transparent;
}

.button.outline.red:focus {
    border-color: #be2828;
    background-color: transparent;
}

/* inputs */

.input {
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid var(--item-primary);
    padding: 0.55rem 0.75rem;
    border-radius: 6px;
    font-size: 16px;
}

.input.full {
    display: block;
    width: 100%;
}

.input:focus {
    border-color: var(--item-hover);
}

.input.primary {
    background-color: #60c9da;
    border-color: #43afc0;
    color: #fff;
}

.input.primary:focus {
    border-color: #43afc0;
}

.input.red, .input.red:focus {
    border-color: #e73939;
}

.inputContainer .input:last-child {
    margin-left: 8px;
}

.inputs {
    box-sizing: border-box;
}

.inputs .input.full, .inputContainer {
    margin-bottom: 8px;
}

.input-label {
    display: block;
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    color: #2eaabd;
}

/* loading spiner */

.loader-container {
    display: block;
    margin: 1rem auto;
}

.loader {
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid var(--stib-blue-2-text);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 30px;
    height: 30px;
    margin: auto;
    -webkit-animation: spin 0.4s linear infinite;
    animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* posts */

.posts {
    margin-top: 1rem;
}

.posts .post {
    background-color: var(--item);
    color: inherit;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-radius: 8px;
    transition: background 0.125s, color 0.125s;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.posts .post:hover {
    background-color: var(--item-hover);
}