* {
    box-sizing: border-box;
}

a, span, div, body, button, input, img, form, h1, h2, h3, h4, h5, h6, code {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--stib-blue-text);
}

button {
    appearance: none;
    background-color: transparent;
}

/* flex */

.flex-center {
    display: flex;
    align-items: center;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
}

main {
    font-family: 'Jost', sans-serif;
}

/* nav */

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--stib-blue-2);
    overflow-x: hidden;
    text-decoration: none;
}

.nav .nav-container, .nav .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 4.35rem;
    line-height: 0;
}

.nav .logo {
    line-height: 0;
}

.nav .logo img {
    max-height: 40px;
}

.nav-height {
    height: 4.5rem;
}

.nav .nav-items {
    display: flex;
    align-items: center;
}

.nav .nav-items a:not(:last-child), .nav .nav-items button:not(:last-child), .nav .nav-items input:not(:last-child) {
    margin-right: 0.55rem;
}

.nav .search-btn {
    display: none !important;
}

@media only screen and (max-width: 545px) {
    .nav .search {
        display: none !important;
    }

    .nav .search-btn {
        display: inline-block !important;
    }
}

.user-button {
    width: 40px;
    height: 40px;
}

.pfp {
    line-height: 0;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
}

.pfp-inner {
    width: 100%;
    height: 100%;
    background-clip: padding-box;
    background-color: none;
    background-position: 50%;
    background-size: 100%;
    border-radius: 50%;
}

.nav-dd-container {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    pointer-events: none;
}

.nav-dd-container .dropdown {
    margin-top: 2px;
}

/* dropdown */

.dropdown {
    float: right;
    box-sizing: border-box;
    background-color: var(--dropdown);
    color: var(--dropdown-text);
    border: 3px solid var(--dropdown);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    min-width: 9.5rem;
    z-index: 100;
    pointer-events: visible;
    text-decoration: none;
}

.dropdown .header {
    padding: 0.6rem 1rem calc(0.6rem + 1px) 1rem;
}

.dropdown #pfpUsername {
    font-weight: 500;
}

.dropdown .items {
    padding: 3px 0;
}

.dropdown .items:first-child {
    padding-top: 0;
    padding-bottom: 3px;
}

.dropdown .items:last-child {
    padding-top: 3px;
    padding-bottom: 0;
}

.dropdown .item {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: inherit;
    transition: background 0.125s, color 0.125s;
}

.dropdown .item:hover, .app:hover {
    background-color: var(--item-hover);
}

.dropdown .item:focus, .app:focus {
    background-color: var(--item-focus);
}

.dropdown .item.logout {
    color: rgb(196, 42, 42);
}

.divider {
    background-color: var(--divider);
    height: 1px;
}

.page {
    background-color: var(--stib-blue);
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

/* container */

.container {
    margin: 0 auto;
    width: calc(100% - 24px);
}

@media only screen and (min-width: 601px) {
    .container {
        width: 96%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

.title {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}

/* buttons */

.button {
    padding: 0.55rem 1.35rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: all .17s ease-out;
    background-color: var(--item);
    color: var(--item-primary);
}

.button:hover {
    background-color: var(--item-hover);
    text-decoration: none;
}

.button:focus {
    background-color: var(--item-focus);
}

.button.primary {
    background-color: var(--item-primary);
    color: var(--stib-blue-2-text);
}

.button.primary:hover {
    background-color: var(--item-primary-hover);
}

.button.primary:focus {
    background-color: var(--item-primary-hover);
}

.button.red {
    color: #fff;
    background-color: #e73939;
}

.button.red:hover {
    background-color: #ff5d5d;
}

.button.red:focus {
    background-color: #be2828;
}

.button.outline {
    background-color: transparent;
    color: var(--item);
    padding: calc(0.55rem - 1px) calc(1.35rem - 1px);
    border: 1px solid var(--item);
}

.button.outline:hover {
    border-color: var(--item-hover);
}

.button.outline:focus {
    border-color: var(--item-focus);
}

.button.small {
    padding: 0.3rem 1.25rem;
}

.button.outline.small {
    padding: calc(0.3rem - 1px) calc(1.25rem - 1px);
}

.button.outline.red {
    color: #e73939;
    border-color: #e73939;
}

.button.outline.red:hover {
    border-color: #ff5d5d;
    background-color: transparent;
}

.button.outline.red:focus {
    border-color: #be2828;
    background-color: transparent;
}

.button.square {
    padding: 0.75rem;
}

.button.circle {
    padding: 0.75rem;
    border-radius: 50%;
}

.button.with-icon {
    display: inline-flex;
    align-items: center;
}

.button.with-icon span {
    font-size: 1.25rem;
}

.button.icon {
    padding: 0.5rem;
    background-color: transparent;
    color: var(--stib-blue-2-text);
    border-radius: 50%;
}

.button.icon:hover {
    background-color: var(--stib-blue-3);
}

.button.icon:focus {
    background-color: var(--item-primary-hover);
}

.button-group {
    display: flex;
    align-items: center;
    border: 2px solid var(--item);
    background-color: var(--item);
    border-radius: 6px;
}

.button-group .button {
    border: none;
    border-radius: unset;
    border-radius: 5px;
}

.button-group .button:not(:last-of-type) {
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
}

/* inputs */

.input {
    box-sizing: border-box;
    background-color: var(--item);
    border: 2px solid var(--item-primary);
    padding: calc(0.55rem - 1px) calc(0.75rem - 1px);
    border-radius: 6px;
    font-size: inherit;
}

.input.full, .button.full {
    display: block;
    width: 100%;
}

.input:focus {
    border-color: var(--item-hover);
}

.input.primary {
    background-color: var(--stib-blue-3);
    border-color: var(--stib-blue-2);
    color: var(--stib-blue-2-text);
}

.input.primary::placeholder {
    color: var(--input-placeholder);
}

.input.primary:focus {
    border-color: var(--stib-blue-2);
}

.input.red, .input.red:focus {
    border-color: #e73939;
}

.input.no-border {
    padding: 0.55rem 0.75rem;
}

.inputContainer .input:last-child {
    margin-left: 8px;
}

.inputs {
    box-sizing: border-box;
}

.inputs .input.full, .inputContainer {
    margin-bottom: 8px;
}

.input-label {
    display: block;
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    color: var(--input-label);
}

.input.search {
    padding: 0.55rem 0.75rem 0.55rem 37px;
    background-image: url(../icons/search_white_24dp.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 9px;
}

/* loading spiner */

.loader-container {
    display: block;
    margin: 1rem auto;
}

.loader {
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid var(--stib-blue-2-text);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 30px;
    height: 30px;
    margin: auto;
    -webkit-animation: spin 0.4s linear infinite;
    animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.no-border {
    border: none !important;
}

.emoji {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
}

.verified {
    color: var(--stib-blue-2)
}

/* footer */

.footer {
    background-color: var(--stib-blue-3);
    color: var(--stib-blue-2-text);
}

.footer-logo {
    display: block;
    margin: 1.8rem 0;
}

.footer .icon {
    filter: invert(1) opacity(0.78);
    transition: filter .12s ease-out;
    height: 26px;
    margin: 0.35rem;
}

.footer .icon:last-of-type {
    margin-right: 0;
}

.footer .icon:hover {
    filter: invert(1) opacity(1);
}

.footer .bottom {
    padding: 0.65rem 0;
    background-color: var(--stib-blue-2);
    color: var(--text-light);
    font-size: 95%;
    line-height: 1.3;
}

.footer .separator {
    margin: 0 6px;
    color: var(--text-light-2);
}

/* posts */

.posts {
    margin: 1rem auto;
}

.posts .post {
    display: block;
    background-color: var(--item);
    color: var(--stib-blue-text);
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-radius: 8px;
    transition: background 0.125s, color 0.125s;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 0.65rem;
}

.posts .post:hover {
    background-color: var(--item-hover);
}

.posts .post .post-title {
    font-size: 1.15rem;
    word-wrap: break-word;
}

.posts .post .meta {
    margin-top: 0.2rem;
}

.posts .post .meta .author {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.posts .post .meta .author .username {
    font-weight: 500;
}

.posts .post .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
}

.posts .post .meta .verified {
    margin-left: 0.25rem;
}

/* post */

.post .title {
    font-size: 1.65rem;
    margin-bottom: 0;
}

.post .meta:not(.posts .post .meta) {
    margin-bottom: 0.75rem;
}

.post #author {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 0.65rem 0;
}

.post #pfp {
    margin-right: 0.4rem;
}

.post #username {
    font-weight: 500;
}

.post .verified {
    font-size: 1.15rem;
    vertical-align: middle;
    color: var(--stib-blue-2);
    margin-left: 0.25rem;
}

.post #date {
    font-size: 95%;
}

.post #edited span {
    font-size: 90%;
    font-style: italic;
}

.post #content {
    margin-bottom: 0.5rem;
}

.votes .button:not(:last-of-type) {
    margin-right: 0.25rem;
}

.post #attachment {
    margin-top: 0.75rem;
}

.post #attachment img, .post #attachment video, .post #attachment audio {
    max-width: 100%;
}